.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.page,
.page__row {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page {
  max-width: 1600px;
}
.page__row {
  max-width: 1200px;
}
.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_top {
  background-image: url(../img/background/background-top.jpg);
  width: 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.83);
  height: inherit;
  width: 100%;
}

/* header */

.header {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #2b2b2d;
}
.header__logo {
  float: left;
  max-width: 100%;
  margin: 2rem 1.5rem 1.8rem 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header__nav {
  float: right;
  max-width: 100%;
  margin: 2.4rem 0rem 1.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.logo,
.logo__image {
  display: block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
img.logo__image:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.menu-top {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 0.996rem;
  font-weight: 500;
}
.menu-top li {
  display: inline-block;
  position: relative;
  margin-right: 4.05rem;
}
.menu-top a {
  color: #fff;
  display: inline-block;
}
ul.menu-top li:last-child {
  margin-right: 0;
}
ul.menu-top > li::after {
  content: "";  
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: -2.3125rem;
  width: 0%;
  height: 1px;
  background: #fff;
  -webkit-transition: width 0.4s cubic-bezier(0.92, 0.23, 0.31, 1.12);
  transition: width 0.4s cubic-bezier(0.92, 0.23, 0.31, 1.12);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
ul.menu-top > li:hover::after {
  width: 100%;
}
/* greeting */

.greeting {
  max-width: 50%;
  margin: 0 auto;
  padding: 21rem 0 21.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.greeting_text {
  text-align: center;
  color: #fff;
}
.greeting__heading {
  font-family: "Vegur", sans-serif;
  font-size: 4.5rem;
}
.greeting__text {
  font-family: "Georgia", sans-serif;
  font-size: 2rem;
  line-height: 2;
}
.greeting_fix {
  line-height: 1;
}

/* form */
.form,
.form__inner {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 1.36rem;
  font-weight: bold;
  line-height: 5.6;
}
.form__name {
  width: 50.8%;
  z-index: 10;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 96.4% 100%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 96.4% 100%, 0 100%);
  -webkit-transition: -webkit-clip-path 1s ease;
  transition: -webkit-clip-path 1s ease;
  transition: clip-path 1s ease;
  transition: clip-path 1s ease, -webkit-clip-path 1s ease;
}
.form__register {
  position: absolute;
  left: 47.5%;
  right: 0;
}
.input-name,
.input-register {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.input-name {
  background-color: #21424a;
  padding-left: 24.1%;
  letter-spacing: 0;
  -webkit-transition: letter-spacing 1s ease;
  transition: letter-spacing 1s ease;
}
.input-register {
  background-color: #2fac6c;
  padding-right: 19%;
  cursor: pointer;
  outline: none;
}
li.form__name:hover {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
}
input.input-name:hover {
  letter-spacing: 5px;
}

/* domain */
.domain,
.domain-form,
.domain-search {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.domain_position {
  padding: 5.525rem 1rem 5.63rem;
  outline: none;
  -webkit-transition: outline 1s ease-in-out;
  transition: outline 1s ease-in-out;
}
.dоmain__heading {
  text-align: center;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #383737;
}
.dоmain__text {
  text-align: center;
  margin: 1.686rem 0 2.986rem;
  font-family: Montserrat, Verdana, Helvetica, sans-serif;
  font-size: 1rem;
  color: #a2a2a2;
}
.domain-search {
  max-width: 890px;
  padding: 0.525rem 0 0.61rem;
  line-height: 1.95;
  vertical-align: middle;
  border: 1px solid #a2a2a2;
}
.domain-serch__input {
  max-width: 82.11%;
  width: 45.025rem;
  border: none;
  -webkit-appearance: none;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 0.86rem;
  font-weight: 600;
  text-indent: 0.8125rem;
}
.domain-serch__prefix,
.domain-serch__select {
  display: inline-block;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 0.86rem;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  color: #a2a2a2;
}
.domain-serch__prefix {
  max-width: 8%;
  width: 4.436rem;
  border-right: 1px solid #a2a2a2;
}
.domain-serch__select {
  max-width: 9.8%;
  width: 5.374rem;
  padding-left: 1.125rem;
  border: none;
  outline: none;
  border-left: 1px solid #a2a2a2;
  line-height: 1.95;
}
input::-webkit-input-placeholder {
  text-indent: 0.8125rem;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
input::-moz-placeholder {
  text-indent: 0.8125rem;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
input:-moz-placeholder {
  text-indent: 0.8125rem;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder {
  text-indent: 0.8125rem;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  text-indent: calc(100% - 9rem);
  -webkit-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease;
}
input:focus::-moz-placeholder {
  text-indent: calc(100% - 9rem);
  -webkit-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease;
}
input:focus:-moz-placeholder {
  text-indent: calc(100% - 9rem);
  -webkit-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease;
}
input:focus:-ms-input-placeholder {
  text-indent: calc(100% - 9rem);
  -webkit-transition: text-indent 0.5s ease;
  transition: text-indent 0.5s ease;
}

fieldset.domain-search:hover {
  outline: #058de7 solid 1px;
}

/* domain-price-table */
.domain-table {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 0.86rem;
  font-weight: normal;
  color: #a2a2a2;
  border: 1px solid #a2a2a2;
}
.domain-table_position {
  margin: 2.375rem auto 0;
  max-width: 890px;
  width: 100%;
}
.domain-table td {
  position: relative;
  width: 25%;
  line-height: 7.1;
  text-align: center;
}
.domain-table td::after {
  content: "";
  position: absolute;
  top: 14%;
  left: 100%;
  width: 1px;
  height: 76.5%;
  background-color: #a2a2a2;
}
.tr.table-2row > td:nth-child(n) {
  position: relative;
}
tr.table-2row > td:nth-child(n)::after {
  content: "";
  position: absolute;
  top: 7%;
  left: 100%;
  width: 1px;
  height: 76.5%;
  background-color: #a2a2a2;
}
.domain-table td::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 3.5%;
  width: 93.4%;
  height: 1px;
  background-color: #a2a2a2;
}
.domain-table td:first-child::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 11.6%;
  width: 85.6%;
  height: 1px;
  background-color: #a2a2a2;
}
.domain-table td:last-child::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 11.6%;
  width: 85.6%;
  height: 1px;
  background-color: #a2a2a2;
}

/* background-package */

.background-package {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.background_middle {
  height: 23.9377rem;
  width: 100%;
  background-image: url(../img/background/background-middle.jpg);
}
.package-overlay {
  height: inherit;
  width: 100%;
  background-color: rgba(13, 13, 13, 0.7);
}
.package-gradient {
  height: inherit;
  width: 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 2px,
    rgba(213, 215, 216, 0.05) 2px,
    rgba(213, 215, 216, 0.05) 4px
  );
}

/* package */

.page__row-margin {
  position: relative;
  top: -283px;
  /* padding-bottom: 97px; */
  
}
.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.package__card {
  width: 100%;
  max-width: 255px;
  margin-right: 3.6875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px #d2d2d280;
  box-shadow: 0 3px 10px #d2d2d280;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in;
  transition: -webkit-box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in;
}
.package__card:nth-child(1):hover {
  -webkit-box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #f9d423 inset;
  box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #f9d423 inset;
}
.package__card:nth-child(2):hover {
  -webkit-box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #7f8c8d inset;
  box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #7f8c8d inset;
}
.package__card:nth-child(3):hover {
  -webkit-box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #f85f40 inset;
  box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #f85f40 inset;
}
.package__card:nth-child(4):hover {
  -webkit-box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #1abc9c inset;
  box-shadow: 0 0 2px 3px #2c2c2c inset, 0 0 1px 5px #1abc9c inset;
}
section.package > div:last-child {
  margin-right: 0;
}
.basic-card {
  border-top: 5px solid #f9d423;
  color: #f9d423;
}
.normal-card {
  border-top: 5px solid #7f8c8d;
  color: #7f8c8d;
}
.big-card {
  border-top: 5px solid #f85f40;
  color: #f85f40;
}
.biggest-card {
  border-top: 5px solid #1abc9c;
  color: #1abc9c;
}

/* table-package */

.price-table {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table.price-table caption {
  text-align: center;
  padding: 0.85rem 0 1.1rem;
  color: #282828;
}
table.price-table td:first-child {
  width: 80%;
  padding-top: 1.4rem;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  color: #b9b9b9;
}
table.price-table td:last-child {
  width: 20%;
  padding-top: 1.4rem;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  text-align: right;
}
table.price-table tr:first-child td {
  padding-top: 1.18rem;
}
table.price-table tr:last-child td {
  padding-bottom: 1.28rem;
}
.cost {
  max-width: 105px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #2c2c2c;
}
.cost__number,
.cost__link {
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cost__number {
  position: relative;
  padding: 1.9rem 0 0.4rem;
}
.cost__number sup {
  font-weight: 800;
  font-size: 1rem;
  vertical-align: 6px;
}
.cost__number p {
  font-size: 1.6875rem;
}
.cost__number span {
  font-size: 0.8125rem;
  font-weight: normal;
  color: #b9b9b9;
}
.cost__link a {
  display: inline-block;
  padding-top: 1.1rem;
  padding-bottom: 2.1rem;
  color: #2c2c2c;
}
.border-yellow {
  border-bottom: 3px solid #f9d423;
}
.border-grey {
  border-bottom: 3px solid #7f8c8d;
}
.border-red {
  border-bottom: 3px solid #f85f40;
}
.border-green {
  border-bottom: 3px solid #1abc9c;
}

.cost__link a:hover {
  color: #1f89ba;
}

/* circle */

.circle-container {
  max-width: 3.625rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 2.2293rem;
}
.circle {
  stroke-width: 6;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  max-width: 100%;
}
.circle__icon {
  max-width: 100%;
}
.circle__basic {
  stroke: #f9d423;
  stroke-dasharray: 40 188;
  -webkit-transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, transform 1s;
  transition: stroke-dashoffset 1s, transform 1s, -webkit-transform 1s;
}
.circle__normal {
  stroke: #7f8c8d;
  stroke-dasharray: 78 188;
  -webkit-transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, transform 1s;
  transition: stroke-dashoffset 1s, transform 1s, -webkit-transform 1s;
}

.circle__big {
  stroke: #f85f40;
  stroke-dasharray: 114;
  -webkit-transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, transform 1s;
  transition: stroke-dashoffset 1s, transform 1s, -webkit-transform 1s;
}

.circle__biggest {
  stroke: #1abc9c;
  stroke-dasharray: 160;
  -webkit-transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, -webkit-transform 1s;
  transition: stroke-dashoffset 1s, transform 1s;
  transition: stroke-dashoffset 1s, transform 1s, -webkit-transform 1s;
}

.circle-container:hover .circle {
  stroke-dashoffset: -35;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.price-card:hover .circle__normale {
  stroke-dashoffset: -80;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.price-card:hover .circle__big {
  stroke-dashoffset: -104;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.price-card:hover .circle__biggest {
  stroke-dashoffset: -276;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.page__row-fix {
  margin-top: -184px;
}
.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6.3rem 0 6.8rem;
  border-top: 2px dotted #d7d7d7;
}
.about-container,
.about-comments,
.about-us,
.worker,
.worker__img,
.social-icons {
  width:100%;
  box-sizing: border-box;
}
.about-comments {
  max-width: 520px;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  border-right: 2px dotted #d7d7d7;
  padding-right: 5rem;
}
.about-us {
  display: flex;
  justify-content: flex-end;
  flex-wrap:wrap;
  max-width: 600px;
}
.about-caption {
  font-weight: 600;
  font-size: 2.1944rem;
  color: #303030;
  margin-bottom: 1.8rem;
}
.about-caption span {
  font-weight: 900;
}
.about-text {
  font-weight: 200;
  font-size: 1.1288rem;
  color:#747474;
  line-height: 1.4;
}
.worker {
  max-width: 100px;
  padding-top: 0.35rem;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  text-align: center;
}
div.about-us .worker:first-child {
  margin-right: 7.9rem;
}
div.about-us .worker:last-child {
  max-width: 115px;
  margin-right: 0.5rem;
  margin-left: 8rem;
}
.worker__img {
  max-width:100px;
  height: 100px;
  border: 5px solid #e5e5e5;
  border-radius: 50%;
  background: url("../img/icons/Worker-sprite.png") no-repeat;
  transition: scale 0.5ms step-end, filter 0.5ms step-end;
}
.worker-photo1 {
  background-position: -2.4px -1px
}
.worker-photo2 {
  background-position: -124.3px -4px;
}
.worker-photo3 {
  background-position: -256px 0;
}
.worker__name {
  margin: 0.9rem auto 0.5rem;
  font-weight: 600;
  font-size: 1.0625rem;
  color: #303030;
}
.worker__post {
  margin: 0.5rem auto 0.8rem;
  font-weight: normal;
  font-size: 0.9375rem;
  color:#747474;
}
.worker a i {
  color: #bfbfbf;
}
.worker a i:hover {
  color: #1f89ba;
}
.social-icons {
  padding: 0 0.1rem;
  text-align: left;
}
div.social-icons > a {
  display: inline-block;
  margin-right: 1.3rem;
}
div.social-icons a:last-of-type {
  margin-right: 0;
}

div.worker .worker__img:hover {
  filter: sepia(30%) drop-shadow(0px 0px 10px #2c2c2c);
  transform: scale(1.1 , 1.1);
}

/* comments-slider */
.slider-overlay {
  height: inherit;
  width: 100%;
  background-color: rgba(13, 13, 13, 0.75);
}
.slider,
.page__row-fix2 {
  height: inherit;
}
.background_bottom {
  height: 11.8625rem;
  width: 100%;
  background-image: url(../img/background/background-bottom.jpg);
  background-position: 0 74.5%;
}
div[class^="slider"] > input {
  display: none;
}
.slider,
.slides,
.slides__page,
.slider-active {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
.slider,
.slides,
.slider-active {
  position: relative;
}
.slides {
  max-width: 886px;
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  text-align: center;
}
.slides__page {
  position: absolute;
  top: 3rem;
  z-index: -1;
}
.slider-active {
  max-width: 5rem;
  top: 64.8%;
  left: 4.9%;
  border-left: 1px solid #fff;
  padding: 0 0.7rem
}
.slides__name,
.slides__text {
  font-size: 1.25rem;
  color: #fff;
}
.slides__name {
  position: absolute;
  font-weight: bold;  
  top:4.5rem;
  right:49.3%;
} 
.slides__text {
  font-weight: 300;
  line-height: 1.4;
}
.slider-active label {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: transparent;
  margin-right: 5.7px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s ease-out;
}
#slide1:checked ~ .slides #one,
#slide2:checked ~ .slides #two,
#slide3:checked ~ .slides #three {
  z-index: 1;
}
#slide1:checked ~ .slider-active label:nth-child(1),
#slide2:checked ~ .slider-active label:nth-child(2),
#slide3:checked ~ .slider-active label:nth-child(3) {
  background-color: #fff;
  transition: .5s ease-out;
}